*{
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
p {
    color: #ffffff; 
    margin-left: 20px; 
}

b.Red{
    color: #e50914;
    font-size: 60px;
    margin-right: 4px;
}

.maincontain{
    width: 100%;
    height: 85%;
    background-image: url("../image/photo.jpg");
    background-size: cover;
    background-position: 0%;
    
}
.maincontain_introduce{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    margin-left: 2%;
}
nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    color: #ffffff;
}
.nav_bar{
    margin-top: 50px;
    width: 98%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}
.logo p{
    font-size: 38px;
}
.logo p b{
    color: #e50914;
    font-size: 52px;
    margin-right: 2.5px;
}
ul{
    display: flex;
    flex-direction: row;
}
ul li{
    padding: 3vw;
    list-style: none;
}
ul li a{
    color: #ffffff;
    font-size: 18px;
}
.Adv_user{
    display: none;
}

.name {
    color: #ffff;
    font-family: Helvetica;
    font-size: 40px;
    
}

.nickname {
    padding-bottom: 50px;
    font-size: 75px;
    color: #ffffff;
}

.intro-head{
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 10px;
}

.intro-main{
    color: #ffffff;
    font-size: 20px;
}

.videosetting{
    margin-top: 50px;
}

.videotag_box{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.videotag{
    position: absolute;
    display: flex;
    align-items: baseline;
    margin-top: -45px;
    width: 75%;
    color: #ffffff;
    font-size: 24px;
}

video {
    width: 75%;
    display: flex;
}

h3 {
    color: #ffffff; 
    margin: 50px; 
    text-align: center;
    font-size: 200px;
}

.footer{
    width: 100%;
    height: 50px;
    backdrop-filter: blur(100px);
    position: fixed;
    bottom: 0;
    display: none;

}
.footer_box{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.footer_content a{
    color: #ffffff;
    margin: 75px;
}
.next a{
    color: #ffffff;
}

/* for tablet*/
@media only screen and (max-width: 1100px) and (min-width:500px){
    .MyAct,
    .Ori,
    .MyAdv{
        display: none;
    }
    .Adv_user{
        display: flex;
        width: 100%;
    }
    .Adv_user a img{
        width: 40px;
        background-color: white;
        border-radius: 100px;
        border: 2px solid #1111;
        padding: 5px;
    }
    .nav_bar{
        width: 95%;
    }
    .maincontain_introduce{
        margin-left: 5%;
    }
    .nickname{
        font-size: 50px;
        padding-bottom: 30px;
    }
    h3 {
        color: #ffffff; 
        margin: 50px; 
        text-align: center;
        font-size: 120px;
    }
    .footer{
        display: flex;
        justify-content: center;
    }
    .next{
        position: absolute;
        right: 5%;
    }
    
}

/* for phone */
@media only screen and (max-width: 850px) and (min-width:350px){
    body{
        
    }



}
