*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}
body
{
    background-color: #141414;
}
.container
{
    margin: 0 auto;
    max-width: 100%;
}
.main-box
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;
    margin-left: 10px;
    margin-right: 10px;
}
.big-box
{
    display: flex;
    flex-direction: column;
    background-image: url("../image/sport.jpg");
    background-size: cover;
    background-position: 0;
    height: 600px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.big-box-detail
{
    color: white;
    font-size: 80px;
    width: 50%;
    height: 50%;
    margin-top: 15%;
    margin-left: 10%;
}
p
{
    text-shadow: 0px 0px 5px black;
}
.mini-box
{
    color: white;
    background-color: #141414;
    margin-top: -30px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px #000;
    
}
.mini-box-detail
{
    position: absolute;
    margin-top: -30px;
}
.mini-box-detail p 
{
    font-size: 24px;
    color: white;
}
.box-img img
{
    width: 100%;
}
.box-detail
{
    padding: 2rem;
    margin-bottom: 75px;
}