*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: #0001;
}
.header
{
    font-size: 80px;
    color: black;
    left: 36.5%;
    top: 45px;
    position: absolute;
    z-index: 1111;
}
.main-box
{
    height: 738px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    
}
.mini-box
{
    width: 380px;
    height: 380px;
    position: absolute;
}
.adv-detail
{
    margin-bottom: 10px;
}
p
{
    color: black;
}
.adv-img img
{
    width: 100%;
    box-shadow: 0 0 2.5px #000;
}